@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://www.openwindow.co.za/coursematrix/static/fonts/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://www.openwindow.co.za/coursematrix/static/fonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://www.openwindow.co.za/coursematrix/static/fonts/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

* {
	font-family: 'Open Sans', sans-serif;
}


.left {
	margin-right: 4px;
}

.mid {
	margin-right: 4px;
	margin-left: 4px;	
}

.right {
	margin-left: 4px;		
}




#matrixBigDS {
	background: #fbb427;
	margin-right: 4px;
}

.topbuttonunderlinehide { border-bottom: 5px solid #fff; }
.topbuttonunderline {  border-bottom: 5px solid #333; }

div#matrixBigDS11:hover {  border-bottom: 5px solid #333; }

#matrixBigFA {
	background: #2ba0de;
	margin-left: 4px;
	margin-right: 4px;
	border-bottom: 5px solid #fff;
}

div#matrixBigFA12:hover {  border-bottom: 5px solid #333; }

#matrixBigIA {
	background: #f1571d;
	margin-left: 4px;
	margin-right: 4px;
	border-bottom: 5px solid #fff;
}

div#matrixBigIA12:hover {  border-bottom: 5px solid #333; }

#matrixBigCS {
	background: #50b297;
	margin-left: 4px;	
	margin-right: 4px;	
	border-bottom: 5px solid #fff;
}

div#matrixBigCS12:hover {  border-bottom: 5px solid #333; }

#matrixBigVA {
	background: #947db6;
	margin-left: 4px;	
	border-bottom: 5px solid #fff;
}

div#matrixBigVA13:hover {  border-bottom: 5px solid #333; }




schoolbigblocks { overflow: hidden;}

.schoolblocksleft {
	margin-right: 4px;
}

.schoolblocksmid {
	margin-left: 4px;
	margin-right: 4px;
}

.schoolblocksright {
	margin-left: 4px;
	
}

.schoolblocks {
	background: #404040;
	height: 200px;
	overflow: hidden;
}


#schoolblock1text p { color: #e8e8e8; font-size: 12px; line-height: 16px; margin: 12px; }
#schoolblock2text p { color: #e8e8e8; font-size: 12px; line-height: 16px; margin: 12px; }
#schoolblock3text p { color: #e8e8e8; font-size: 12px; line-height: 16px; margin: 12px; }
#schoolblock4text p { color: #e8e8e8; font-size: 12px; line-height: 16px; margin: 12px; }
#schoolblock5text p { color: #e8e8e8; font-size: 12px; line-height: 16px; margin: 12px; }

.schoolblock1demo {
  height: 100px;
  color: white;
  font-size: 50px;
  font-family: verdana;
  position:absolute;
}

.schoolblock2demo {
  height: 100px;
  color: white;
  font-size: 50px;
  font-family: verdana;
  position:absolute;
}

.schoolblock3demo {
  height: 100px;
  color: white;
  font-size: 50px;
  font-family: verdana;
  position:absolute;
}

.schoolblock4demo {
  height: 100px;
  color: white;
  font-size: 50px;
  font-family: verdana;
  position:absolute;
}

.schoolblock5demo {
  height: 100px;
  color: white;
  font-size: 50px;
  font-family: verdana;
  position:absolute;
}



.fieldsleft { margin-right: 4px;}
.fieldsmid { margin-right: 4px; margin-left: 4px;}
.fieldsright { margin-left: 4px;}

.fields {
	background: #404040;
	padding: 8px;
	cursor: pointer;
}

.fields:hover {
	background: #dadada;
}

.fieldText {
	font-family: 'Open Sans';
	padding: 4px;
	color: #fff;
	font-size: 10px;
	font-weight: 700;
}





.fieldsLink {
	text-decoration: none;
}

#matrixText {
	padding: 20px;
}

.matrixBig  {
	color: #fff;
	text-decoration: none;
}

.matrixBig div {
	color: #fff;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;	
	border-bottom: 2px solid #fff;
  transition: border .25s ease-in-out;
   -moz-transition: border .25s ease-in-out;
   -webkit-transition: border .25s ease-in-out;
   
}

.matrixBigTop { display: inline-block; font-size: 90px; font-weight: 700; margin-left: -8px; margin-top: 15px; padding: 0;}
.matrixBigMid { display: block; font-size: 14px; font-weight: 700; margin-left: -1px; margin-top: 7px; padding: 0; line-height: 0px;}
.matrixBigBot { display: block; font-size: 14px; font-weight: 300; margin-left: -1px; margin-top: -8px; padding: 0; line-height: 0px;}




.content-subheadline { width:100%; text-align:left; border-bottom: 1px solid #afafaf; line-height:0.1em; margin:60px 0 30px 0; } 
.content-subhead { background:#fff; padding:0 10px 0 0; 	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #333; }


.matrixFieldLeft {
	margin-right: 4px;	
}

.matrixFieldMid {
	margin-left: 4px;	
	margin-right: 4px;	
}

.matrixFieldRight {
	margin-left: 4px;	
}

.matrixFieldWrap {
   width:100%;
   margin: 0 auto;
   padding: 0;
}

.matrixFieldIcon {
	background: #333;
	width: 40px;
	height: 40px;
	float: left;
	border-right: 2px #999 solid;
  transition: all .25s ease-in-out;
   -moz-transition: all .25s ease-in-out;
   -webkit-transition: all .25s ease-in-out;	
 
}

.matrixFieldText {
	background: #333;
	margin-left: 40px;
	padding-top: 8px;
	height: 32px;
	color: #fff;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-align: center;
  transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;	
}

.matrixField  {
	color: #fff;
	text-decoration: none;
}

.matrixFieldWrap:hover div {	
	background: rgb(52,166,216);
}

.matrixFieldWrap:hover div.matrixFieldIcon {	
	background: rgb(52,166,216);
	border-right: 2px #ccc solid;
}

.matrixFields {
	margin-top: 8px;
}

.outcomesLink {
	text-decoration: none;
}

.outcomesWrap {
	background: #e5e7e9;
	border-left: 8px #404040 solid;
}

.outcomesWrap:hover {
	background: #dadada;
	cursor: pointer;
}

.outcomesSelected {	
	border-left: 8px #f00 solid;
}

.outcomesText {
	font-family: 'Open Sans';
	padding: 4px;
	color: #404040;
	height: 40px;
}


.outcomesBIG { display: block; font-size: 14px; font-weight: 700; margin-left: 4px; margin-top: 12px; padding: 0; line-height: 0px;}
.outcomesSMALL { display: block; font-size: 10px; font-weight: 700; margin-left: 4px; margin-top: -8px; padding: 0; line-height: 0px;}


.degreeWrap {
	background: #404040;
	cursor: pointer;
}

.degreeLink {
	text-decoration: none;
}

.degreeText {
	font-family: 'Open Sans';
	padding: 4px;
	color: #fff;
	height: 40px;
}

.degreeBIG { display: block; position: absolute; font-size: 35px; font-weight: 700; margin-left: 5px; margin-top: 20px; padding: 0; line-height: 0px;}
.degreeMED { display: block; position: absolute; font-size: 14px; font-weight: 700; margin-left: 27px; margin-top: 14px; padding: 0; line-height: 0px;}
.degreeSMALL { display: block; position: absolute; font-size: 10px; font-weight: 300; margin-left: 27px; margin-top: 27px; padding: 0; line-height: 0px;}

.degreeSelected {	
	background: #fbb427;
}

.structureText {
	font-family: 'Open Sans';
	padding: 4px;
	color: #fff;
	height: 40px;
}

.structureWrap {
	background: #fbb427;
	color: #fff
}

.structureBIG { text-transform: uppercase; display: block; position: absolute; font-size: 14px; font-weight: 700; margin-left: 16px; margin-top: 14px; padding: 0; line-height: 0px;}
.structureSMALL { text-transform: uppercase; display: block; position: absolute; font-size: 10px; font-weight: 300; margin-left: 16px; margin-top: 27px; padding: 0; line-height: 0px;}

.structureContent {
	color: #505050;
	font-family: 'Open Sans';
	font-size: 12px;
	line-height: 18px;
	margin-right: 0;
	margin-left: 20px;
}

#structureFieldTitle {color: #404040; margin-top: 0px;}
#structureFieldTitleArrow { color: #fbb427;}



#courselayoutleftwrap {
	height: 80px;
	width: 100%;
	
}

#courselayoutleftcontentyear {
	color: #404040;
	font-family: 'Open Sans';
	font-weight: 700; 
	display: block; position: absolute; font-size: 100px; font-weight: 700; margin-left: 5px; margin-top: 33px; padding: 0; line-height: 0px;
}

#courselayoutleftcontenttitle {
	color: #404040;
	font-family: 'Open Sans';
	font-weight: 700; 	
	text-transform: uppercase; 
	display: block; position: absolute; font-size: 14px; font-weight: 700; margin-left: 65px; margin-top: 5px; padding: 0; line-height: 0px;
}

#courselayoutleftcredits {
	position: absolute;
	background: #57595b;
	color: #fff;
	margin-left: 65px;
	margin-top: 12px;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 14px; 
	font-family: 'Open Sans';
	width: 112px;
	height: 16px;
	line-height: 16px;
}

#courselayoutleftcreditsbar {
	position: absolute;
	background: #e5e7e9;	
	margin-left: 65px;
	margin-top: 30px;
	height: 8px;
	padding: 0px;
	font-size: 14px; 
	font-family: 'Open Sans';
	width: 120px;	
}

#barcore {
	background: #57595b;
	height: 8px;
	width: 60px;
	float: left;
}

#bar0 {
	background: #0f0;
	height: 8px;
	width: 20px;
	float: left;
}

#bar1 {
	background: #fbb427;
	height: 8px;
	width: 20px;
	float: left;
}

#bar2 {
	background: #f1571d;
	height: 8px;
	width: 20px;
	float: left;
}

#coresubjectswrapper {
	margin: 0;
	margin-right: 4px;
	padding: 0 8px 8px 8px;
}


#majorsubjectswrapper {
	margin: 0;
	margin-left: 4px;
	padding: 0 8px 8px 8px;
}

#layoutsubjectsheading {

	color: #404040;
	font-family: 'Open Sans';
	font-weight: 700; 	
	text-transform: uppercase; 
	display: block; 
	font-size: 12px; 
	padding: 2; 
	margin: 2;
	text-align: center;
	line-height: 22px;
	border-bottom: #e5e7e9 1px solid;
}

.courselayoutsubjectwrap {
	height: 60px;
	background: #404040;
	padding: 0px 8px 4px 8px;
}

.courselayoutsubjecttitle {
	font-size: 8px; 
	font-family: 'Open Sans';
	font-weight: 700; 	
	color: #fff;
	border-bottom: 1px solid #fff;	
	text-align: center;
	margin: 0;
	padding: 0;	
	line-height: 30px
}

.courselayoutsubjectcredits {
	font-size: 10px; 
	font-family: 'Open Sans';
	font-weight: 700; 	
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 0;
	line-height: 30px
}

.courselayoutaddsubject {
	background: #e5e7e9; 	
	text-align: center;
}

.courselayoutaddsubjectspan {
	color: #878787;
	font-size: 10px; 
	font-family: 'Open Sans';
	font-weight: 700; 	
	line-height: 60px	
}

#accordion {
    list-style: none;
    padding: 0 0 0 0;
}
#accordion div {
    list-style: none;
    padding: 4px;
    margin: 0 auto;
}
#accordion ul {
    list-style: none;
    padding: 0 0 0 0;
}
#accordion ul{
  
}
#accordion ul li {
    font-weight: normal;
    background-color: #fff;
    padding: 0 0 0 0;
}
#accordion a {
    text-decoration: none;
}
#accordion a:hover {
    text-decoration: none;
}



.subjectbar {
	cursor: pointer;
}

.subjectname {
	background: #e5e7e9;
	padding: 4px;
	color: #404040;
	font-family: 'Open Sans';
	font-weight: 700; 
	font-size: 12px;
	height: 20px;
	margin: 0 auto;
	border-right: 4px solid #fff;
}



.subjectadderbutton {
	border-left: 4px solid #fff;
	float:right;
	width: 20px;
	background: #81888b;
	color: #fff;
	font-size: 18px;
	text-align: center;
	font-weight: 700; 
	height: 20px;
	padding: 4px;
	cursor: pointer;
}



#compulsorysubjectswrapper {
	margin-left: 4px;
	padding: 0 8px 8px 8px;
}

.compulsorysubjectsblocks {
	background: #404040;
	padding: 4px;
	color: #fff;
	font-weight: 700; 
	font-size: 10px; 
	font-family: 'Open Sans';
	margin-bottom: 2px;
	line-height: 12px;
	text-align: center;
}

#choiceelectiveswrap {
	font-weight: 700; 
	font-size: 10px; 
	font-family: 'Open Sans';
	line-height: 29px;
	text-align: center;
}



#choiceelectiveswrap span {
	background: #81888b; 
	padding: 4px 8px 4px 8px;
	color: #fff;
	margin: 0 2px 0 2px;
	white-space:nowrap;
}

.careerwrapper {
	color: #f00;
	font-size: 18px; 
	margin-top:16px;
}

.career {
	margin-left: 16px;
	margin-top: -5px;

	color: #404040;
	font-size: 13px; 
	line-height: 16px;
	font-family: 'Open Sans';
}

.career span {
	color: #000;
	font-weight: 700; 
}